Bunda : 인증번호 안내
<table align="center" width="670" border="0" cellpadding="0" cellspacing="0"
       style="border-top: 2px solid #60b9ce; border-right: 1px solid #e7e7e7; border-left: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7;">
    <tbody>
    <tr>
        <td style="background-color: #ffffff; padding: 40px 30px 0 35px; text-align: center;">
            <table width="605" border="0" cellpadding="0" cellspacing="0"
                   style="text-align: left; font-family: '맑은 고딕','돋움';">
                <tbody>
                <tr>
                    <td style="color: #2daad1; font-size: 25px; text-align: left; width: 352px; word-spacing: -1px; vertical-align: top;">
                        인증 번호 확인 후<br>
                        이메일 인증을 완료해 주세요.
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td style="font-size: 17px; vertical-align: bottom; height: 27px;">안녕하세요? Bunda입니다.</td>
                </tr>
                <tr>
                    <td colspan="2" style="font-size: 13px; word-spacing: -1px; height: 30px;">아래 인증번호를 입력하시고 지원서를 계속
                        작성해 주세요.
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 39px 196px 70px;">
            <table width="278" style="background-color: #3cbfaf; font-family: '맑은 고딕','돋움';">
                <tbody>
                <tr>
                    <td height="49" style="text-align: center; color: #fff">인증번호 : <span>authNumber</span></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>